

 @import "bootstrap";
 
.nav > li{
  margin-left:10px;
  margin-right:10px;
}

.search-bar {
    padding-left:350px;
    padding-right:350px;
}

body {
    background-color:#42adf4;
}

.jumbotron {
    
}