

 @import "bootstrap";
 
.nav > li{
  margin-left:10px;
  margin-right:10px;
}

.search-bar {
    padding-left:150px;
    padding-right:150px;
}

body {
    background-color:#42adf4;
}

.jumbotron {
    padding: 70px 0;
    border: 3px solid green;
    
}
